aside {
	flex: 1;
	padding: 5px;
}

aside#left #social {
	display: flex;
	justify-content: center;
	margin: 5px auto;
}

aside#left #social a i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	color: #ccc;
}

section {
	flex: 3;
}

h1#results-label {
	color: #666;
	/* font-family: arial; */
	font-weight: normal;
	border-bottom: 1px solid #eee;
	text-align: center;
	font-size: 16px;
}

aside #form-subscribe {
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}

aside #form-subscribe input {
	padding: 5px;
	outline-color: #ddd;
	flex: 1;
	width: 95%;
	border: 1px solid #eee;
}

aside #form-subscribe span {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 9px;
	color: coral;
	margin-top: 5px;
}

aside#right ul {
	list-style: none;
	/* font-family: arial; */
	font-size: 14px;
	padding: 0;
	margin: 0;
	height: 200px;
	display: none;
}

aside#right ul li {
	padding: 2px 5px;
	color: #ff7f50;
	cursor: pointer;
	text-align: center;
	background-color: none;
	border-radius: 2px;
	margin: 2.5px 5px;
}

aside#right h1  {
	color: #666;
	/* font-family: arial; */
	font-weight: normal;
	border-bottom: 1px solid #eee;
	text-align: center;
	font-size: 16px;
}

aside#right select {
	display: block;
	margin: 10px auto;
	width: 100%;
	padding: 5px;
	background-color: #fcfcfc;
	outline-color: #ddd;
	border-radius: 2px;
	border: 1px solid #eee;
}

#items {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}


.item {
	height: 300px;
	box-shadow: 0 2px 10px 2px #f1f1f1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #fff;
	position: relative;
	border-radius: 0;
}

.item h2 {
	text-align: center;
	border-bottom: 1px solid #eee;
	background-color: coral;
	border-top: 3px solid #444;
	color: #fff;
	padding: 5px;
	margin: 0;
	/* font-family: arial; */
	font-size: 13px;
}

.item .cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 100%;
}

.range {
	margin: auto;
	width: fit-content;
}

.controllers {
	display: flex;
	justify-content: center;
	padding: 5px;
	position: absolute;
	width: 100%;
	bottom: 0;
	border-top: 1px solid #eee;
}

.controllers .btn-download, .controllers .btn-play, .btn-stop, .btn-share {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 5px;
	border-radius: 100%;
	cursor: pointer;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid coral;
	color: coral;
	transition: all .4s ease;
}


button {
	display: block;
	margin: 10px 0;
	padding: 10px;
	color: #fff;
	background-color: coral;
	outline: none;
	border: 1px solid #999;
	width: 200px;
	box-shadow: -1px 1px #444;
	border-radius: 2px;
	cursor: pointer;
}

button:hover {
	opacity: 0.9;
}

button:active {
	box-shadow: none;
	transition: .2s ease;
}

button i {
	margin: auto 5px;
}

footer {
	border-top: 1px solid #eee;
	padding: 5px;
	/* font-family: arial; */
	font-size: 12px;
	color: #ccc;
}

footer > div {
	display: flex;
	align-items: center;
	justify-items: center;
	width: fit-content;
	margin: auto;
}

.btn-download:hover, .btn-play:hover, .btn-stop:hover {
	background-color: #eee;
}

@media screen and (max-width: 414px) {
	header {
		height: 70px;
	}

	header input:focus {
		width: 310px;
	}

	main {
		flex-direction: column;
	}

	aside #form-subscribe {
		margin-top: 20px;
	}
	

	#nav-wrap {
		width: 300px;
	}

	nav {
		overflow-x: scroll;
	}
	
	#nav-wrap > span {
		display: none;
	}

	button {
		width: 100%;
	}
}